html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pokedex-left {
    height: 600px;
    width: 400px;
    background-color: var(--bg-main-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-lights-container {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.big-light-border {
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: 2rem;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-light {
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    background-color: #3298cb;
    border: 3px solid #000;
    position: relative;
}

.big-light-dot {
    position: absolute;
    background-color: #85bdfe;
    height: 3rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.small-lights {
    height: 6rem;
    width: 12rem;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-light {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid #000;
}

.small-light.red {
    background-color: #ff0000;
}

.small-light.yellow {
    background-color: #fecb65;
}

.small-light.green {
    background-color: #32cb65;
}

.small-light .small-dot {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: white;
    transform: translate(50%, 50%);
}

.screen-container {
    height: 50%;
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 5rem;
    border: 3px solid #000;
}

.small-point-container {
    display: flex;
    justify-content: space-between;
    width: 2.5rem;
    display: flex;
    align-items: center;
    height: 12%;
}

.small-point {
    background-color: #ff0000;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid #000;
}

.main-screen {
    background-color: #98cb98;
    width: 80%;
    height: 70%;
    border: 3px solid #000;
}

.main-screen-bottom {
    height: 18%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

br {
    height: 5rem;
    width: 5rem;
    background-color: violet;
    color: violet;
}

.bottom-container {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.black-buttom {
    background-color: #585858;
    border: 3px solid #000;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.bottom-container .center-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    grid-template-areas: "red cyan"
        "screen screen";
}

.line-buttom {
    height: 1rem;
    width: 6rem;
    border: 3px solid #000;
    border-radius: 1rem;
}

.line-buttom.red {
    background-color: #ff0000;
    grid-area: red;
}

.line-buttom.cyan {
    background-color: #85bdfe;
    grid-area: cyan;
}

.center-screen .screen {
    height: 8rem;
    width: 12rem;
    grid-area: screen;
    border: 3px solid #000;
    background-color: #3ab47d;
    border-radius: 5px;
}

.dpad-area a {
    height: 2rem;
    width: 2rem;
    background-color: #000fff;
}