html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pokedex-left {
    height: 600px;
    width: 400px;
    background-color: var(--bg-main-color);
}

.top-lights-container{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.big-light-border {
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: 2rem;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-light{
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    background-color: #3298cb;
    border: 3px solid #000;
    position: relative;
}

.big-light-dot {
    position: absolute;
    background-color: #85bdfe;
    height: 3rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.small-lights {
    height: 6rem;
    width: 12rem;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-light {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid #000;
}

.small-light.red{
background-color: #ff0000;
}

.small-light.yellow{
    background-color: #fecb65;
}

.small-light.green{
    background-color: #32cb65;
}

.small-light .small-dot{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: white;
    transform: translate(50%, 50%);
}